*{
    box-sizing: border-box;
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito Sans', sans-serif;
    text-shadow: none;
}

nav{
    width: 100%;
    height: 10vh;
    background-color:rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: black; */
    z-index: 2;
    display: none;
}

nav img {
    width: 6em;
    height: 10vh;
}

nav>button{
    width: 150px;
    height: 40px;
    background-color: rgb(0, 155, 212);
    border: none;
    border-radius: 35px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    text-shadow: none;
}
